{% extends "./_includes/_base.html" %} 
{% block content %}
{% from "./_includes/_from.html" import render_field %}
<div class="card-panel ">
    <!-- <span class="card-title">Login</span> -->
    <h5 class="card-title">Signup</h5>
    <div class="card-content">
        <p>
<form method="POST" action="">
    {{ form.hidden_tag() }}
    {{ render_field(form.username)}}
    {{ render_field(form.password )}}
    {{ form.submit(class="btn waves-effect waves-light btn-large btn-inherit")}}
</form>
</p>
</div>
</div>
{% endblock content %}

