{% extends "./_includes/_base.html" %}
{% block content %}
    <div class="card-panel hoverable ">
        <!-- <span class="card-title">Login</span> -->
        <h5 class="card-title">Login</h5>
        <span>22 August,2018</span>
        <hr>
        <div class="card-content">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea autem modi voluptatem voluptate cumque sed vero deleniti. Odit
            esse illo nisi minima corrupti, accusantium exercitationem nobis, vel maiores ea placeat
            <a href="#">More</a>
        </div>
    </div>

    <!-- 2-->
    <div class="card-panel hoverable ">
        <!-- <span class="card-title">Login</span> -->
        <h5 class="card-title">Login</h5>
        <span>22 August,2018</span>
        <hr>
        <div class="card-content">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea autem modi voluptatem voluptate cumque sed vero deleniti. Odit
            esse illo nisi minima corrupti, accusantium exercitationem nobis, vel maiores ea placeat
            <a href="#">More</a>
        </div>
    </div>
    <!--3-->
    <div class="card-panel hoverable ">
        <!-- <span class="card-title">Login</span> -->
        <h5 class="card-title">Login</h5>
        <span>22 August,2018</span>
        <hr>
        <div class="card-content">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea autem modi voluptatem voluptate cumque sed vero deleniti. Odit
            esse illo nisi minima corrupti, accusantium exercitationem nobis, vel maiores ea placeat
            <a href="#">More</a>
        </div>
    </div>
    <!--4-->
    <div class="card-panel hoverable ">
        <!-- <span class="card-title">Login</span> -->
        <h5 class="card-title">Login</h5>
        <span>22 August,2018</span>
        <hr>
        <div class="card-content">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea autem modi voluptatem voluptate cumque sed vero deleniti. Odit
            esse illo nisi minima corrupti, accusantium exercitationem nobis, vel maiores ea placeat
            <a href="#">More</a>
        </div>
    </div>
    <!--5-->
    <div class="card-panel hoverable ">
        <!-- <span class="card-title">Login</span> -->
        <h5 class="card-title">Login</h5>
        <span>22 August,2018</span>
        <hr>
        <div class="card-content">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea autem modi voluptatem voluptate cumque sed vero deleniti. Odit
            esse illo nisi minima corrupti, accusantium exercitationem nobis, vel maiores ea placeat
            <a href="#">More</a>
        </div>
    </div>
    <!--6-->
    <ul class="pagination">
        <li class="disabled">
            <a href="#!">
                <i class="material-icons">chevron_left</i>
            </a>
        </li>
        <li class="active">
            <a href="#!">1</a>
        </li>
        <li class="waves-effect">
            <a href="#!">2</a>
        </li>
        <li class="waves-effect">
            <a href="#!">3</a>
        </li>
        <li class="waves-effect">
            <a href="#!">4</a>
        </li>
        <li class="waves-effect">
            <a href="#!">5</a>
        </li>
        <li class="waves-effect">
            <a href="#!">
                <i class="material-icons">chevron_right</i>
            </a>
        </li>
    </ul>

{% endblock content %}