{% extends "./_includes/_base.html" %} 
{% block content %}
<div class="card-panel hoverable ">
    <h1>ID NO. {{id}}</h1>
    <!-- <span class="card-title">Login</span> -->
    <h3 class="card-title">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Totam, sequi.</h3>
    <span>22 August,2018</span>
    <hr>
    <div class="card-content">
        <div class="center-align">
            <img src="https://loremflickr.com/420/420" alt="" class="center-align responsive-img">
        </div>

        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea autem modi voluptatem voluptate cumque sed vero deleniti. Odit
        esse illo nisi minima corrupti, accusantium exercitationem nobis, vel maiores ea placeat
        <br> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid quaerat aperiam mollitia ducimus nulla sequi,
        culpa minus atque, magnam recusandae illum, temporibus sint ullam eligendi illo excepturi inventore exercitationem
        quibusdam.
        <br> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Animi iste, nobis atque sunt voluptate optio quas inventore
        aperiam ad, architecto nulla qui similique enim. Esse consectetur nobis totam libero eveniet animi. Magnam a reiciendis
        dolore sapiente porro adipisci fugiat ipsam!
        <br> Lorem, ipsum dolor sit amet consectetur adipisicing elit. Deserunt, voluptate porro. Eius sapiente saepe explicabo,
        odit, unde delectus officia placeat voluptate, suscipit dolorem illo quas sequi enim iusto error quo numquam accusamus
        magnam ipsam. Iusto, voluptates voluptatum ab maxime beatae harum dolor laborum recusandae eveniet maiores provident
        sunt dolorum laboriosam molestias esse facilis incidunt explicabo ducimus nam excepturi enim quaerat ipsa quam. Enim,
        magni dicta ex officiis rerum aliquam numquam molestiae. Amet magni nulla odit voluptate tempora saepe minima, soluta,
        ea nisi architecto doloribus pariatur laudantium facere ipsa. Dicta porro ratione iusto magni ipsum id enim molestiae,
        nesciunt asperiores, quos aut praesentium ipsam a consectetur earum eligendi? Voluptatem, earum? Quisquam consequatur
        necessitatibus eligendi nesciunt quam, temporibus natus obcaecati veritatis facere nobis. Vero porro unde voluptatibus
        enim autem quas! Sunt optio, corporis nihil debitis amet autem soluta quisquam ipsum rem minus quidem totam. Voluptates
        culpa exercitationem minima officiis enim fugit vero eaque quo deserunt? Itaque iste, voluptatibus eos doloremque
        molestias vero veritatis obcaecati maiores suscipit deserunt delectus libero harum, architecto quas aperiam a. Cupiditate
        sapiente, quam similique totam explicabo nobis provident ratione nisi tempora culpa porro magnam et nihil! Eos necessitatibus
        qui libero ea aliquam praesentium odit magni, laborum, sed enim dolorem corporis adipisci iusto, voluptas officiis
        maxime impedit eligendi aut perspiciatis placeat? Doloremque molestias ratione commodi voluptatem dolorem odio? Autem
        odio illum harum rerum, iusto doloremque aspernatur! Soluta, amet impedit, tempore tenetur repellat magnam ea reiciendis
        iure laboriosam possimus et eligendi? Repellat, ad ex. Dolores autem nisi maiores cupiditate culpa est sequi atque
        accusamus quod nesciunt saepe itaque nemo, similique aperiam illo nostrum veniam dolorem ipsum cumque odit rem molestias
        mollitia pariatur. Dolore sapiente tempore quasi aut expedita facere alias neque excepturi quam minus architecto
        laboriosam praesentium dolor, porro nam nihil, at nostrum, facilis est. Dolores, eius, accusamus, adipisci porro
        quia ipsum quis non sit blanditiis nostrum mollitia? Quae quo quas sequi ad sit, laboriosam animi voluptatibus molestiae
        corporis! Officiis culpa sunt accusantium at earum ex ut perspiciatis quisquam, voluptas voluptatem delectus deleniti
        provident eligendi ullam eaque possimus ad id? Esse suscipit amet, sint maxime recusandae provident ad iure optio,
        rerum molestias est neque quidem dolores voluptatem fuga a distinctio veritatis enim possimus eos. Officia necessitatibus,
        doloremque quaerat, error nesciunt maxime quia sapiente incidunt odio, ab consequatur inventore eius ut iste distinctio!
        Pariatur neque ipsam, voluptas rem dolorem quisquam tempora commodi possimus tempore, consequatur culpa eaque quo
        unde dolores molestias sed? Tempora, tenetur asperiores id sequi magni commodi eius laborum omnis, mollitia, dolorem
        placeat vero magnam at corporis doloribus quod dolor quae officia. Aut pariatur facere cumque aspernatur illo suscipit
        earum! Rem porro consectetur velit iusto recusandae. Saepe quaerat praesentium dolor quasi necessitatibus ullam error
        nam mollitia ex eaque blanditiis, quo omnis temporibus minus nesciunt quis quibusdam. Est dicta provident veniam
        sint vitae maxime eum? Corporis quasi perferendis enim deserunt! Possimus, necessitatibus quisquam. Dicta, laudantium
        sit, temporibus architecto, amet quidem non incidunt eligendi a esse quas excepturi. Ipsa similique fugiat, aut esse
        nobis magni sint deserunt, aliquid soluta possimus maiores.
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Optio debitis consequuntur, dolore nemo quasi voluptas nostrum repellendus
            temporibus necessitatibus omnis? Accusantium, enim reprehenderit eum ipsa iste quos nam assumenda esse, fugiat
            nisi ducimus tenetur repellendus molestiae omnis. Amet, ut inventore!
        </p>
    </div>
</div>
<!--6-->
<ul class="pagination">
    <li class="disabled">
        <a href="#!">
            <i class="material-icons">chevron_left</i>
        </a>
    </li>
    <li class="active">
        <a href="#!">1</a>
    </li>
    <li class="waves-effect">
        <a href="#!">2</a>
    </li>
    <li class="waves-effect">
        <a href="#!">3</a>
    </li>
    <li class="waves-effect">
        <a href="#!">4</a>
    </li>
    <li class="waves-effect">
        <a href="#!">5</a>
    </li>
    <li class="waves-effect">
        <a href="#!">
            <i class="material-icons">chevron_right</i>
        </a>
    </li>
</ul>
{% endblock content %}