{% extends 'includes/base.html'%}
{%block title %} ERROR  |FLASK {% endblock %} {%block content %}
    <div class="container">
        <div class="row">
            <div class="error-template">
                <h1>Oops!</h1>
                <h2>404 Not Found</h2>
                <div class="error-details">
                    Sorry, an error has occured, Requested page not found!
                    <br>
                    <?php echo CHtml::encode($message); ?>
                </div>
                <div class="error-actions">
                    <a href="{{ url_for('home')}}" class="btn btn-primary">
                        <i class="icon-home icon-white"></i> Take Me Home </a>
                </div>
            </div>
        </div>
    </div>



{% endblock %}