{% extends 'includes/base.html'%}
{%block title %} ABOUT US |FLASK {% endblock %} {%block content %}
    <div class="container">
        <div class="jumbotron">
            <h2>ABOUT US</h2>
            <hr>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Est vel illo illum facilis! At quam ad, beatae sapiente provident quisquam velit! Aliquam voluptate quaerat ullam modi expedita commodi labore voluptas.
                <br>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eum praesentium nemo perspiciatis provident amet voluptate voluptatem modi illo optio esse incidunt ex sequi ipsum dolore voluptatum eos blanditiis totam, delectus at dicta? Enim est quisquam voluptates facere vero laboriosam expedita.
                 Lorem ipsum dolor sit amet consectetur adipisicing elit. Est vel illo illum facilis! At quam ad, beatae sapiente provident
                quisquam velit! Aliquam voluptate quaerat ullam modi expedita commodi labore voluptas.
                <br> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eum praesentium nemo perspiciatis provident amet voluptate voluptatem
                modi illo optio esse incidunt ex sequi ipsum dolore voluptatum eos blanditiis totam, delectus at dicta? Enim est quisquam
                voluptates facere vero laboriosam expedita.
                 Lorem ipsum dolor sit amet consectetur adipisicing elit. Est vel illo illum facilis! At quam ad, beatae sapiente provident
                quisquam velit! Aliquam voluptate quaerat ullam modi expedita commodi labore voluptas.
                <br> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eum praesentium nemo perspiciatis provident amet voluptate voluptatem
                modi illo optio esse incidunt ex sequi ipsum dolore voluptatum eos blanditiis totam, delectus at dicta? Enim est quisquam
                voluptates facere vero laboriosam expedita.
                 Lorem ipsum dolor sit amet consectetur adipisicing elit. Est vel illo illum facilis! At quam ad, beatae sapiente provident
                quisquam velit! Aliquam voluptate quaerat ullam modi expedita commodi labore voluptas.
                <br> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eum praesentium nemo perspiciatis provident amet voluptate voluptatem
                modi illo optio esse incidunt ex sequi ipsum dolore voluptatum eos blanditiis totam, delectus at dicta? Enim est quisquam
                voluptates facere vero laboriosam expedita. Lorem ipsum dolor sit amet consectetur adipisicing elit. Est vel illo illum facilis! At quam ad, beatae sapiente provident
                quisquam velit! Aliquam voluptate quaerat ullam modi expedita commodi labore voluptas.
                <br> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eum praesentium nemo perspiciatis provident amet voluptate voluptatem
                modi illo optio esse incidunt ex sequi ipsum dolore voluptatum eos blanditiis totam, delectus at dicta? Enim est quisquam
                voluptates facere vero laboriosam expedita.
                
            </p>
        </div>
    </div>

{% endblock %}